@font-face {
  font-family: "Soleil Regular";
  src: url("font/Soleil Regular.otf")
}

@font-face {
  font-family: "Soleil Book";
  src: url("font/Soleil Book.otf")
}

* {
	margin: 0;
	padding: 0;
}

/* MAIN */

#header {
	background-image: url(img/contact/contact-bkg.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	padding: 185px 0px;
	position: relative;
	top: 0px;
}

#ellis-draw {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 150px;
}

h1 {
	font-family: "Soleil Book";
	font-size: 5.2rem;
	color: #FFFFFF;
	background-color: none;
	text-align: center;
}

h2 {
	font-family: "Soleil Book";
	font-size: 1.3rem;
	width: 50%;
	margin: 0 auto;
	color: #FFFFFF;
	text-align: center;
}

h3 {
	font-family: "Soleil Book";
	margin-top: 20px;
	margin-left: 8px;
	color: #292929;
}

#contact-grid a {
	display: inline-block;
	color: #006BCE;
	margin-top: 5px;
	font-family: 'Work Sans', sans-serif;
	margin-left: 8px;
	margin-bottom: 50px;
}

#contact-grid {
	margin-top: 50px;
	padding: 0px 60px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 60px;
}

.line {
	width:100%;
	border-radius: 100px;
    height:8px;
}

@media only screen and (max-width: 1000px) {
	#contact-grid{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 0px) and (max-width: 768px) {
	#contact-grid {
		grid-template-columns: repeat(1, 1fr);
	}

	h3 {
		font-size: 1.4rem;
	}

	#contact-grid a {
		font-size: 1.2rem;
	}

	h2 {
		width: 80%;
		margin: 0 auto;
	}

	#ellis-draw {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		width: 150px;
	}

	#header {
		padding: 190px 0px;
	}

	#contact-grid {
		padding: 0px 40px;
	}

}

nav ul {
	font-family: "Soleil Book";
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

nav #favicon {
  margin: 20px 15px 15px 20px;
  width: 40px;
}

nav li a {
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  display: block;
  vertical-align: middle;
  text-align: center;
  vertical-align: middle;
  font-size: 1.05rem;
  padding: 14px 15px;
  text-decoration: none;
  transition: color 0.3s;
}

nav li a:hover {
  color: white;
}

nav #flex{
  margin-top: 10.5px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  float: left;
}

nav #flex li img {
  opacity: 0.8;
  max-width: 6px;
  float: right;
  padding: 0px 6px;
  display: block;
  margin-top: 10.5px;
  margin: auto;
}

.active {
	color: white;
}

/* MOBILE NAV BAR */

#mobile-nav{
  visibility: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  margin: 0;
  overflow: hidden;
}

@media only screen and (max-width: 660px) {
  #mobile-nav{
    visibility: visible;
  }
  #desktop-nav{
    visibility: hidden;
  }
}

.sidepanel {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(146, 23, 23, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  text-align: left;
  font-family: "Work Sans";
  font-weight: bold;
  padding: 15px 8px 15px 42px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidepanel .closebtn {
  position: absolute;
  font-weight: lighter;
  top: -15px;
  right: 11px;
  margin: 10px;
  font-size: 45px;
}

#openbtn {
  font-size: 30px;
  cursor: pointer;
  color: white;
  margin: 15px;
  background-color: none;
  padding: 0px 15px;
  border: none;
  background-color: Transparent;
}
