*{
	font-family: 'Space Mono';
	margin: 0;
	padding: 0;
}


#header{
	background-image: url(img/contact/contact-bkg.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	padding: 205px 0px;
	position: relative;
	top: 0px;
}

#ellis-draw{
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 150px;
}
h1{
	font-style: italic;
	font-weight: bold;
	font-size: 4.5rem;
	color: #FFFFFF;
	background-color: none;
	text-align: center;
}
h2{
	font-size: 1.3rem;
	width: 50%;
	margin: 0 auto;
	color: #FFFFFF;
	text-align: center;
}

h3{
	margin-top: 20px;
	margin-left: 8px;
}

#contact-grid a{
	display: inline-block;
	color: #043AC4;
	margin-top: 5px;
	font-family: 'Work Sans', sans-serif;
	margin-left: 8px;
	margin-bottom: 50px;
}

#contact-grid{
	margin-top: 50px;
	padding: 0px 60px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 60px;
}

.line{
	width:100%;
    height:8px;
}

@media only screen and (max-width: 1000px) {
	#contact-grid{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 0px) and (max-width: 768px) {
	#contact-grid{
		grid-template-columns: repeat(1, 1fr);
	}
	

}

nav ul {
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

nav #favicon{
  margin: 20px 15px 15px 20px;
  width: 40px;
}

nav li a {
  font-family: 'Work Sans';
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  display: block;
  vertical-align: middle;
  text-align: center;
  vertical-align: middle;
  font-size: 1.05rem;
  padding: 14px 15px;
  text-decoration: none;
  transition: color 0.3s;
}

nav li a:hover {
  color: white;
}

nav #flex{
  margin-top: 10.5px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  float: left;
}

nav #flex li img{
  opacity: 0.8;
  max-width: 6px;
  float: right;
  padding: 0px 6px;
  display: block;
  margin-top: 10.5px;
  margin: auto;
}

.active{
	color: white;
}



