@font-face {
  font-family: "Soleil Regular";
  src: url("font/Soleil Regular.otf")
}
@font-face {
  font-family: "Mikado Medium";
  src: url("font/Mikado Medium.ttf")
}
@font-face {
  font-family: "Mikado Regular";
  src: url("font/Mikado Regular.ttf")
}
@font-face {
  font-family: "Soleil Book";
  src: url("font/Soleil Book.otf")
}
@font-face {
  font-family: "Soleil Bold";
  src: url("font/Soleil Bold.otf")
}
@font-face {
  font-family: "Soleil SemiBold";
  src: url("font/Soleil SemiBold.otf")
}
@font-face {
  font-family: "Soleil Italic";
  src: url("font/Soleil Italic.otf")
}

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	background-color: #FFFFFF;
}

#header {
	background-image: url(img/curriculum/header-background.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	padding: 180px 0px;
	position: relative;
	top: 0px;
	text-align: center;
}

h1 {
	font-family: "Mikado Medium";
	margin-top: -70px;
	font-size: 65px;
	color: #FFFFFF;
	background-color: none;
}

h2 {
	font-family: "Soleil Regular";
	font-size: 20px;
	width: 40%;
	margin: 0 auto;
	color: #CEE6FD;
}

#group-mascots{
	width: 500px;
	margin-top: -80px;
	padding: 0;
}

h3 {
	text-align: center;
	font-family: "Soleil SemiBold";
	font-weight: bold;
	font-size: 35px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #2454FF;
}

#curriculum-info p{
	font-family: "Soleil Regular";
	text-align: center;
	width: 40%;
	font-size: 18px;
	margin: 0 auto;
	line-height: 25px;
}

#alon-planet{
	max-width: 500px;
	margin: 60px auto;
	display: block;
}

#line{
	width: 100%;
	background-color: #F3F3F3;
	height: 5px;
	margin: 80px 0px;
}
span{
	font-family: "Soleil Bold";
}

/* OUR GALAXY */
#planet-grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 40px;
	grid-row-gap: 40px;
	margin: 0 auto;
	margin-top: 30px;
}
#planet-grid img{
	max-height: 170px;
	padding: 15px 0px 10px 0px;
	margin: 0 auto;
	display: block;
}
#planet-grid h5{
	text-align: center;
	font-family: "Soleil Book";
	font-weight: bold;
	font-size: 26px;
	color: black;
}
#planet-grid p{
	text-align: center;
	font-family: "Soleil Regular";
	margin-top: 3px;
	font-size: 14px;
	line-height: 18px;
	width: 80%;
	color: black;
}

#planet-grid a{
	text-decoration: none;
}
#planet-grid div{

}

#planet-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px 0px;
	width: 266px;
	height: 100%;
	background-color: gray;
	border-radius: 16px;
	height: 295px;
	transition: box-shadow 0.2s ease-in-out;
}

.Abstractopia:hover{
	box-shadow:inset 0px 0px 0px 5px rgba(220, 207, 255, 0.3);
}
.Logicland:hover{
	box-shadow:inset 0px 0px 0px 5px rgba(255, 215, 154, 0.3);
}
.Algorithopoly:hover{
	box-shadow:inset 0px 0px 0px 5px rgba(255, 215, 202, 0.3);
}
.Decomposphere:hover{
	box-shadow:inset 0px 0px 0px 5px rgba(181, 255, 197, 0.3);
}
.Evaluatus:hover{
	box-shadow:inset 0px 0px 0px 5px rgba(160, 210, 255, 0.3);
}
.Patteron:hover{
	box-shadow:inset 0px 0px 0px 5px rgba(255, 193, 189, 0.3);
}

@media only screen and (max-width: 950px) {
	#planet-grid{
		grid-template-columns: repeat(2, 1fr);
	}
	#curriculum-info p{
		width: 50%;
	}
	h2{
		width: 45%;
	}
}

@media only screen and (max-width: 600px) {
	#planet-grid{
		grid-template-columns: repeat(1, 1fr);
	}
	#curriculum-info p{
		width: 70%;
	}
	h2{
		width: 70%;
	}
	#alon-planet{
		max-width: 400px;
	}
}

/* NAV BAR */
ul {
	font-family: "Soleil Book";
	position: absolute;
	display: block;
	width: 100%;
	top: 0;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
}

#favicon{
  margin: 20px 15px 15px 20px;
  width: 40px;
}

li a {
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  display: block;
  vertical-align: middle;
  text-align: center;
  vertical-align: middle;
  font-size: 1.05rem;
  padding: 14px 15px;
  text-decoration: none;
  transition: color 0.3s;
}

li a:hover {
  color: white;
}

#flex{
  margin-top: 10.5px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  float: left;
}
#flex li img{
  opacity: 0.8;
  max-width: 6px;
  float: right;
  padding: 0px 6px;
  display: block;
  margin-top: 10.5px;
  margin: auto;
}

.active{
  color: white;
}

/* MOBILE NAV BAR */
#mobile-nav{
	visibility: hidden;
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
	margin: 0;
	overflow: hidden;
}

@media only screen and (max-width: 660px) {
	#mobile-nav{
		visibility: visible;
	}
	#desktop-nav{
		visibility: hidden;
	}
}


.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(6, 71, 130, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
	font-family: "Soleil Book";
	text-align: left;
	font-weight: bold;
	padding: 15px 8px 15px 42px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	display: block;
	transition: 0.3s;
}

.sidepanel .closebtn {
  position: absolute;
  font-weight: lighter;
  top: -15px;
  right: 11px;
  margin: 10px;
  font-size: 45px;
}

#openbtn {
	font-family: "Soleil Book";
	font-size: 30px;
	cursor: pointer;
	color: white;
	margin: 15px;
	background-color: none;
	padding: 0px 15px;
	border: none;
	background-color: Transparent;
}
