*{
	font-family: 'Space Mono';
	margin: 0;
	padding: 0;

}

body{
	background-color: #FFFFFF;
}

p{
	font-family: 'Space Mono';
	color: #00034D;
}

#header{
	background-image: url(img/curriculum/header-background.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	padding: 205px 0px;
	position: relative;
	top: 0px;
}
#header{
	text-align: center;
}
h1{
	font-style: italic;
	font-weight: bold;
	font-size: 4.5rem;
	color: #FFFFFF;
	background-color: none;
}
h2{
	font-size: 1.3rem;
	width: 50%;
	margin: 0 auto;
	color: #CEE6FD;
}
#mini-planets{
	margin-top: 20px;
	width: 400px;
}
.planet{
	margin-top: 10px;
	max-width: 400px;
	margin-right: 35px;
	transition: transform .5s ease-in;
}

.planet-box{
	display: flex;
	align-items: center;
	margin-top: 70px;
	padding: 20px 25px;
	transition: background-color 0.3s ease-in;
}

#Decomposphere-subpage .planet-box{
	padding: 0px 25px;
}

.planet-box:hover > .planet{
	transform: rotate(0.008turn);
}

.planet-box-info{
	margin-left: 30px;
	width: 50%;
	padding-right: 90px;
}

.planet-box-info p{
	font-family: 'Work Sans', sans-serif;
	font-size: 1.1rem;
	line-height: 1.4;
	margin-top: 15px;
}

.mascot{
	max-width: 65px;
	display: block;
}

h3{
	font-weight: bold;
	font-size: 2.5rem;
	margin-top: -5px;
	margin-bottom: 10px;
}

.explore-button{
	text-decoration: none;
	color: #FFFFFF;
	background-color: #24C2FF;
	padding: 5px 15px;
	border-radius: 7px;
	font-style: italic;
	font-weight: bold;
	margin: 20px 0px 15px 0px;
	transition: background-color 0.3s ease-in;
}

.explore-button:hover{
	background-color: #00ADF0;
}

@media only screen and (max-width: 1000px) {
	.planet{
		margin-top: 10px;
		max-width: 350px;
		min-width: 349px;
	}
	.planet-box-info{
		margin-left: 10px;
		width: 47vw;
		padding-right: 0px;
	}
	h1{
		font-size: 4rem;
	}
	h2{
		font-size: 1.2rem;
		width: 70%;
	}
	#mini-planets{
		margin-top: 20px;
		width: 50vw;
	}
	h3{
		font-size: 2rem;
	}
	.planet-box-info p{
		font-size: 1rem;
	}
	.explore-button{
		font-size: 1rem;
	}
	.mascot{
		max-width: 55px;
	}
}
@media only screen and (max-width: 800px) {
	.planet{
		margin-top: 10px;
		max-width: 280px;
		min-width: 279px;
	}
	.planet-box-info{
		margin-left: 0px;
		width: 47vw;
		padding-right: 0px;
	}
}
@media only screen and (max-width: 660px) {
	.planet{
		margin-top: 10px;
		max-width: 300px;
		min-width: 299px;
	}
	.planet-box{
		flex-direction: column;
		padding: 20px 15px;
	}
	.planet-box-info{
		margin-left: 10px;
		width: 75%;
		padding-right: 0px;
	}
	#header{
		padding: 150px 0px;
	}

	#mini-planets{
		margin-top: 20px;
		width: 50vw;
	}
	#contact-grid{
		grid-template-columns: repeat(1, 1fr);
	}

	h3{
		font-size: 2.2rem;
	}

	#contact-grid a{
		font-size: 1.2rem;
	}

	h2{
		font-size: 1.2rem;
		width: 80%;
		margin: 0 auto;
	}

	#ellis-draw{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		width: 150px;
	}

	.mascot{
		max-width: 65px;
	}

	#header{
		padding: 150px 0px;
	}

	#mini-planets{
		margin-top: 20px;
		width: 70%;
	}
}


/* NAV BAR */
ul {
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

#favicon{
  margin: 20px 15px 15px 20px;
  width: 40px;
}

li a {
  font-family: 'Work Sans';
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  display: block;
  vertical-align: middle;
  text-align: center;
  vertical-align: middle;
  font-size: 1.05rem;
  padding: 14px 15px;
  text-decoration: none;
  transition: color 0.3s;
}

li a:hover {
  color: white;
}

#flex{
  margin-top: 10.5px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  float: left;
}
#flex li img{
  opacity: 0.8;
  max-width: 6px;
  float: right;
  padding: 0px 6px;
  display: block;
  margin-top: 10.5px;
  margin: auto;
}

.active{
  color: white;
}


.highlight
{
	display: inline-block;
    position: relative;
}

.highlight::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 0;
  height: 50px;
  bottom: 0px;
  left: 0;
  border-radius: 3px;
  visibility: hidden;
  transition: all 0.25s ease-in-out;
}
#Decomposphere-subpage .highlight::before {
	background-color: #E2F6DB;
}

#Abstractopia-subpage .highlight::before {
	background-color: #EDE6FD;
}

#Patteron-subpage .highlight::before {
	background-color: #FCE6E7;
}

#Algorithopoly-subpage .highlight::before {
	background-color: #FEEEEA;
}

#Logicland-subpage .highlight::before {
	background-color: #FCF7DC;
}

#Evaluatus-subpage .highlight::before {
	background-color: #E9F1FD;
}

.planet-box:hover .highlight::before {
  visibility: visible;
  width: 103%;
}

/* MOBILE NAV BAR */
#mobile-nav{
	visibility: hidden;
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
	margin: 0;
	overflow: hidden;
}

@media only screen and (max-width: 660px) {
	#mobile-nav{
		visibility: visible;
	}
	#desktop-nav{
		visibility: hidden;
	}
}


.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(6, 71, 130, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
	text-align: left;
	font-family: "Work Sans";
	font-weight: bold;
	padding: 15px 8px 15px 42px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	display: block;
	transition: 0.3s;
}

.sidepanel .closebtn {
  position: absolute;
  top: -15px;
  right: 11px;
  margin: 10px;
  font-size: 45px;
}

#openbtn {
	font-family: "Work Sans";
	font-size: 30px;
	cursor: pointer;
	color: white;
	margin: 15px;
	background-color: none;
	padding: 0px 15px;
	border: none;
	background-color: Transparent;
}

