Options +FollowSymLinks
RewriteEngine On

ErrorDocument 404 /404.html

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]
RewriteCond %{THE_REQUEST} /home.html HTTP [NC]
RewriteRule (.*)home.html$ /$1 [R=301,L]