@font-face {
  font-family: "Soleil Regular";
  src: url("font/Soleil Regular.otf")
}
@font-face {
  font-family: "Soleil Book";
  src: url("font/Soleil Book.otf")
}
@font-face {
  font-family: "Soleil SemiBold";
  src: url("font/Soleil SemiBold.otf")
}
@font-face {
  font-family: "Soleil Bold";
  src: url("font/Soleil Bold.otf")
}
@font-face {
  font-family: "Mikado Medium";
  src: url("font/Mikado Medium.ttf")
}
@font-face {
  font-family: "Mikado Regular";
  src: url("font/Mikado Regular.ttf")
}

* {
	margin: 0;
	padding: 0;
}

/* MAIN */

#header {
	background-image: url(img/contact/contact-bkg.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	padding: 220px 0px 155px 0px;
	position: relative;
	top: 0px;
}

#mascot-call {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 450px;
}

h1 {
	font-family: "Mikado Medium";
	font-size: 5.2rem;
	color: #FFFFFF;
	background-color: none;
	text-align: center;
}

h2 {
	font-family: "Mikado Regular";
	font-size: 1.3rem;
	width: 50%;
	margin: 0 auto;
	color: #FFFFFF;
	text-align: center;
}

h3 {
	font-family: "Soleil Book";
  font-size: 20px;
	color: #292929;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: 0.25s ease;
}

#contact-grid a {
	display: inline-block;
	color: #2454FF;
	margin-top: 5px;
	font-family: 'Soleil Book', sans-serif;
  font-size: 20px;
  text-decoration: underline;
  margin-bottom: 5px;
}

#contact-grid p{
  font-family: 'Soleil Book', sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #757575;
}

#contact-body{
  display: flex;
  margin: 60px 200px 50px 200px;
  justify-content: center;
  align-items: center;
}

#contact-grid {
	display: grid;
  margin: 0 auto;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 60px;
  grid-row-gap: 60px;
}

#contact-grid div{
  background-color: #F0F0F0;
  border-radius: 4px;
  padding: 35px;
  width: 250px;
}

.line {
	width:100%;
	border-radius: 100px;
    height:8px;
}

@media only screen and (max-width: 1100px) {
	#contact-grid{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 0px) and (max-width: 768px) {
	#contact-grid {
		grid-template-columns: repeat(1, 1fr);
	}

	h3 {
		font-size: 1.4rem;
	}

	#contact-grid a {
		font-size: 1.2rem;
	}

	h2 {
		width: 80%;
		margin: 0 auto;
	}

	#mascot-call {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		width: 380px;
	}

	#header {
		padding: 190px 0px;
	}

	#contact-grid {
		padding: 0px 40px;
	}

}

@media only screen and (max-width: 660px) {
  #mobile-nav{
    visibility: visible;
  }
  #desktop-nav{
    visibility: hidden;
  }
}

@media only screen and (max-width: 430px) {
  h1 {
    font-size: 60px;
  }
  #mascot-call {
    margin-top: 40px;
    width: 80%;
  }
  #header {
    padding: 220px 0px 170px 0px;
  }
}

@media only screen and (max-width: 375px) {
  h1 {
    font-size: 60px;
  }

  #mascot-call {
    margin-top: 40px;
    width: 80%;
  }

  #header {
    padding: 220px 0px 160px 0px;
    text-align: center;
  }

  #contact-body{
    display: flex;
    margin: 60px auto;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  #contact-grid {
  	display: grid;
    margin: auto;
    padding: 0px;
  	grid-template-columns: repeat(1, 1fr);
  	grid-column-gap: 60px;
    grid-row-gap: 60px;
  }

  #contact-grid div{
    background-color: #F0F0F0;
    border-radius: 4px;
    padding: 25px;
    width: 200px;
    display: block;
    margin: auto;
    align-self: center;
  }
}

@media only screen and (min-width: 700px) {
  #contact-grid a:hover{
    color: #849FFF;
  }
}
