@font-face {
  font-family: "Soleil Regular";
  src: url("font/Soleil Regular.otf")
}
@font-face {
  font-family: "Mikado Medium";
  src: url("font/Mikado Medium.ttf")
}
@font-face {
  font-family: "Mikado Regular";
  src: url("font/Mikado Regular.ttf")
}
@font-face {
  font-family: "Soleil Book";
  src: url("font/Soleil Book.otf")
}
@font-face {
  font-family: "Soleil Bold";
  src: url("font/Soleil Bold.otf")
}
@font-face {
  font-family: "Soleil SemiBold";
  src: url("font/Soleil SemiBold.otf")
}
@font-face {
  font-family: "Soleil Italic";
  src: url("font/Soleil Italic.otf")
}

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	background-color: #FFFFFF;
}

#header {
	background-image: url(img/curriculum/background5.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	padding: 270px 0px 255px 0px;
	position: relative;
	top: 0px;
	text-align: center;
}

h1 {
	font-family: "Mikado Medium";
	margin-top: 40px;
	font-size: 65px;
	color: #FFFFFF;
	background-color: none;
}

h2 {
	font-family: "Mikado Regular";
	font-size: 20px;
	width: 527px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	color: #EEEAF9;
}

#group-mascots{
	width: 400px;
	margin-top: 20px;
  margin-bottom: 30px;
	padding: 0px;
}

h3 {
	text-align: center;
	font-family: "Soleil SemiBold";
	font-weight: bold;
	font-size: 35px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #2454FF;
}

#curriculum-info p{
	font-family: "Soleil Regular";
	text-align: center;
	width: 40%;
	font-size: 18px;
	margin: 0 auto;
	line-height: 25px;
}

#alon-planet{
	max-width: 500px;
	margin: 60px auto;
	display: block;
}

#line{
	width: 100%;
	background-color: #F3F3F3;
	height: 5px;
	margin: 80px 0px;
}

/* OUR GALAXY */
#galaxy{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.download{
  font-family: "Soleil Semibold";
  font-size: 18px;
  text-decoration: none;
  color: #0995E3;
  border: 2px solid #0995E3;
  background-color: white;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 11px 18px 8px 18px;
  border-radius: 7px;
  display: inline-block;
  transition: background-color 0.15s ease-in;
}

.download-all{
  font-family: "Soleil SemiBold";
  font-size: 18px;
  text-decoration: none;
  color: #0995E3;
  border: 2px solid #0995E3;
  background-color: white;
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 11px 18px 8px 18px;
  border-radius: 7px;
  display: inline-block;
  transition: background-color 0.15s ease-in;
}

.download-all .download-icon {
  background-image: url("img/curriculum/download.png");
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  width: 15px;
  height: 15px;
  margin-right: 7px;
  margin-left: -2px;
  margin-top: 1.5px;
  display: inline-block;
}

.download-all .visit-icon {
  background-image: url("img/curriculum/link.png");
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  width: 15px;
  height: 15px;
  margin-right: 7px;
  margin-left: -2px;
  margin-top: 1.5px;
  display: inline-block;
}

.download-all:hover{
  background-color: #0995E3;
  color: #fff;
}

.download-group{
	display: flex;
	gap:  10px;
}

#planet-grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 40px;
	grid-row-gap: 40px;
	margin: 0 auto;
	margin-top: 30px;
}
#planet-grid img{
	max-height: 170px;
	padding: 15px 0px 10px 0px;
	margin: 0 auto;
	display: block;
}
#planet-grid h5{
	text-align: center;
	font-family: "Soleil Book";
	font-weight: bold;
	font-size: 26px;
	color: black;
}
#planet-grid p{
	text-align: center;
	font-family: "Soleil Regular";
	margin-top: 3px;
	font-size: 14px;
	line-height: 18px;
	width: 80%;
	color: black;
}

#planet-grid a{
	text-decoration: none;
}
#planet-grid div{

}

#planet-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px 0px;
	width: 266px;
	height: 100%;
	background-color: gray;
	border-radius: 16px;
	height: 295px;
	transition: box-shadow 0.2s ease-in-out;
}

@media only screen and (max-width: 950px) {
	#planet-grid{
		grid-template-columns: repeat(2, 1fr);
	}
	#curriculum-info p{
		width: 50%;
	}
	h2{
		width: 45%;
	}
  .download{
    font-family: "Soleil Semibold";
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
	#planet-grid{
		grid-template-columns: repeat(1, 1fr);
	}
	#curriculum-info p{
		width: 70%;
	}
	h2{
		width: 70%;
	}
	#alon-planet{
		max-width: 400px;
	}
}

@media only screen and (max-width: 500px) {

	h1{
		font-size: 50px;
	}

	h2{
		font-size: 18px;
	}
  #alon-planet{
    max-width: 90%;
  }

  #group-mascots {
    max-width: 70%;
    margin-top: 20px;
  }

}

@media only screen and (min-width: 700px) {
	.Abstractopia:hover{
		box-shadow:inset 0px 0px 0px 5px rgba(220, 207, 255, 0.3);
	}
	.Logicland:hover{
		box-shadow:inset 0px 0px 0px 5px rgba(255, 215, 154, 0.3);
	}
	.Algorithopoly:hover{
		box-shadow:inset 0px 0px 0px 5px rgba(255, 215, 202, 0.3);
	}
	.Decomposphere:hover{
		box-shadow:inset 0px 0px 0px 5px rgba(181, 255, 197, 0.3);
	}
	.Evaluatus:hover{
		box-shadow:inset 0px 0px 0px 5px rgba(160, 210, 255, 0.3);
	}
	.Patteron:hover{
		box-shadow:inset 0px 0px 0px 5px rgba(255, 193, 189, 0.3);
	}
  .download:hover{
    background-color: #0995E3;
    color: #fff;
  }
}
