@font-face {
  font-family: "Soleil Regular";
  src: url("font/Soleil Regular.otf")
}
@font-face {
  font-family: "Soleil Book";
  src: url("font/Soleil Book.otf")
}
@font-face {
  font-family: "Soleil Light";
  src: url("font/Soleil Light.otf")
}
@font-face {
  font-family: "Soleil SemiBold";
  src: url("font/Soleil SemiBold.otf")
}
@font-face {
  font-family: "Soleil Bold";
  src: url("font/Soleil Bold.otf")
}
@font-face {
  font-family: "Mikado Medium";
  src: url("font/Mikado Medium.ttf")
}
@font-face {
  font-family: "Mikado Regular";
  src: url("font/Mikado Regular.ttf")
}

/* DESKTOP NAV */
#desktop-nav {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  width: 100%;
  height: 60px;
  position: fixed;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, .1);
  z-index: 10;
}

#desktop-nav #left{
  text-decoration: none;
}

#desktop-nav #favicon{
  margin: 15px 13px 15px 35px;
  width: 25px;
}
#desktop-nav p{
  font-family: Mikado Medium;
  font-size: 20px;
  color: #1B5BFF;
}

#desktop-nav #flex p{
  margin-top: 2.2px;
}

nav #flex{
  margin-top: -0.5px;
  display: flex;
  justify-content: left;
  align-items: center;
}

nav #links{
  margin-top: 6px;
  margin-right: 35px;
}

nav #links .page-link {
  font-family: "Soleil Semibold";
  color: #1B5BFF;
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 20px;
  align-self: center;
}

#desktop-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid #F3F3F3;
}

.dropdown {
  float: left;
  text-align: left;
  overflow: hidden;
}


.dropdown .dropbtn {
  font-family: "Soleil Semibold";
  position: relative;
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: #1B5BFF;
  padding: 14px 16px;
  margin-top: -1px;
  background-color: white;

}

.dropdown-content {
  display: none;
  margin-left: -4px;
  position: absolute;
  background-color: white;
  box-shadow: 0px 15px 12px rgba(112, 112, 112, 0.1);
  z-index: 1;
  padding: 0px 5px 15px 5px;
  border-radius: 0px 0px 5px 5px;
  width: content;
}

.dropdown-content a {
  float: none;
  font-family: "Soleil Book";
  color: #1B5BFF;
  padding: 12px 25px 5px 18px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.show {
  display: block;
}

.close{
  display: none;
}
#up{
  display: none;
}
.rotate{
  transform: rotate(180deg) translateY(-2px);
}

nav i{
  transform: translateX(2px)
}


/* MOBILE NAV BAR */

@media only screen and (max-width: 660px) {
  #mobile-nav{
    visibility: visible;
  }
  #desktop-nav{
    visibility: hidden;
  }
}

/* FOOTER */
footer{
  background-color: #1B3373;
  padding: 60px 50px 15px 50px;
}

footer .grid{
  display: grid;
  grid-template-columns: 60fr 40fr;
  justify-content: space-between;
}

footer #info .flex{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

footer #info .flex h2{
  font-family: "Mikado Medium";
  margin-top: 2px;
}

footer #info{
  width: 70%;
}

footer #content{
  width: 1150px;
  margin: 0 auto;
}

footer #info h2{
  color: rgba(255, 255, 255, .9);
  font-family: "Soleil Regular";
  font-size: 28px;
  text-align: left;
  margin: 0;
  padding: 0;
}

footer #info p{
  color: rgba(255, 255, 255, .7);
  font-family: "Soleil Regular";
  font-size: 18px;
  line-height: 173%;
}

footer #info img{
  opacity: 90%;
  max-width: 28px;
  margin-right: 10px;
}

footer #link-grid{
  display: grid;
  grid-column-gap: 80px;
  grid-template-columns: 110px 110px 100px;
}

footer h3{
  text-align: left;
  font-family: "Soleil Light";
  font-size: 14px;
  color: rgba(255, 255, 255, .7);
  margin: 0;
  padding: 0;
  line-height: 1;
  margin-bottom: 20px;
}

footer a{
  font-family: "Soleil Light";
  margin-bottom: 20px;
  font-size: 14px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  display: block;
}


footer #line{
  margin: 25px 0px 15px 0px;
  height: 1px;
  background-color: rgba(255, 255, 255, .9);
}

footer #copyright{
  color: rgba(255, 255, 255, .7);
  font-family: "Soleil Light";
  font-size: 14px;
  text-align: center;
}

@media only screen and (max-width: 1250px) {
  footer #content{
    width: auto;
    margin: 0 auto;
  }

  footer #info{
    width: 80%;
  }

  footer #link-grid{
    min-width: 480px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

}

@media only screen and (max-width: 950px) {

  footer .grid{
    grid-column-gap: 20px;
  }

  footer #link-grid{
    min-width: 380px;
    grid-column-gap: 30px;
    grid-template-columns: 110px 110px 100px;
  }
}

@media only screen and (max-width: 850px) {

  footer .grid{
    grid-column-gap: 10px;
  }

  footer #link-grid{
    min-width: 350px;
    grid-column-gap: 15px;
    grid-template-columns: 110px 110px 100px;
  }
}

@media only screen and (max-width: 800px) {
  footer #info{
    width: 100%;
  }
  footer .grid{
    grid-column-gap: 10px;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }

  footer #link-grid{
    min-width: 410px;
    grid-column-gap: 45px;
    grid-template-columns: 110px 110px 100px;
  }
}

@media only screen and (max-width: 480px) {
  footer #info{
    width: 100%;
  }
  footer .grid{
    grid-column-gap: 10px;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }

  footer #link-grid{
    min-width: 370px;
    grid-column-gap: 25px;
    grid-template-columns: 110px 110px 100px;
  }

  footer{
    background-color: #1B3373;
    padding: 60px 35px 15px 35px;
  }
}

@media only screen and (max-width: 415px) {
  footer #info{
    width: 97%;
  }
  footer .grid{
    grid-column-gap: 10px;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }

  footer #link-grid{
    min-width: 350px;
    grid-column-gap: 5px;
    grid-template-columns: 100px 120px 100px;
  }

  footer{
    width: auto;
    background-color: #1B3373;
    padding: 60px 25px 15px 25px;
  }
}


/* MOBILE NAV BAR */
#mobile-nav{
  top: 0;
  right: 0;
  background-color: white;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 10;
}

#mobile-nav .dropdown{
  float: none;
}

#mobile-nav #favicon{
  margin: 0px 0px 0px 3px;
  width: 25px;
  margin-top: 0px;
}

#mobile-nav p{
  text-align: left;
  font-family: Mikado Medium;
  font-size: 22px;
  color: #1B5BFF;
  margin-left: -8px;
}

#mobile-nav .dropdown-content{
  position: initial;
  margin-left: 15px;
  box-shadow: none;
}

#mobile-nav #flex{
  margin-top: -4px;
  margin-bottom: -8px;
}

.topnav {
  background-color: white;
  position: relative;
  border-bottom: 5px solid #F3F3F3;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, .10);
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  text-align: left;
  font-family: "Soleil Semibold";
  color: #1B5BFF;
  font-size: 16px;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}

.topnav a.icon {
  margin: 6px 0px 0px 0px;
  margin-bottom: 0;
  display: block;
  position: absolute;
  right: 4px;
  top: 4px;
  color: #1B5BFF;
}

#nav-icon3 span:nth-child(1) {
  color: black;
  top: -18px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: -9px;
}

#nav-icon3 span:nth-child(4) {
  top: 0px;
}

#nav-icon3.open span:nth-child(1) {
  top: -9px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: -9px;
  width: 0%;
  left: 50%;

}

#nav-icon3{
  width: 24px;
  height: auto;
  position: relative;
  margin: 12px auto 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span{
  display: block;
  position: absolute;
  height: 3.6px;
  width: 100%;
  background: #1B5BFF;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

@media only screen and (min-width: 700px) {
  .dropdown-content a:hover {
    text-decoration: underline;
  }
  footer a:hover{
    text-decoration: underline;
  }
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: 0.25s ease;
}
