@font-face {
  font-family: "Soleil Regular";
  src: url("font/SoleilRegular.otf");
}

@font-face {
  font-family: "Soleil Bold";
  src: url("font/SoleilBold.otf");
}

@font-face {
  font-family: "Soleil Semibold";
  src: url("font/Soleil SemiBold.otf");
}

@font-face {
  font-family: "Soleil Light";
  src: url("font/Soleil Light.otf");
}

@font-face {
  font-family: "Soleil Book";
  src: url("font/Soleil Book.otf");
}

@font-face {
  font-family: "Mikado Medium";
  src: url("font/Mikado Medium.ttf");
}

@font-face {
  font-family: "Mikado Regular";
  src: url("font/Mikado Regular.ttf");
}

html {
  background: #fff;
}

* {
  margin: 0;
  padding: 0;
}

/* LANDING */

.landing {
  background-image: url("img/home/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 40px;
  padding: 130px 0px;
  position: relative;
  top: 0px;
}

#title-image {
  width: 520px;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

#center {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-family: "Mikado Regular";
  font-weight: 500;
  font-size: 20px;
  width: 380px;
  margin: auto;
  color: #F3F3F3;
  text-align: center;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  transition: 0.25s ease;
}

/* EXPLORE CODING */

.explore-coding {
  width: 900px;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.explore-coding img {
  width: 300px;
}


.explore-coding p {
  width: 70%;
}

h3 {
  font-family: "Soleil SemiBold";
  font-size: 35px;
  line-height: 42px;
  color: #2454FF;
  text-align: left;
}

p {
  font-family: "Soleil Regular";
  font-size: 18px;
  line-height: 25px;
  color: #000;
}

.bold {
  font-family: "Soleil Bold";
}

.lighter-blue {
  color: #0995E3;
}


/* SEPARATOR */

.gray-separator {
  height: 5px;
  background-color: #F3F3F3;
  width: 100vw;
  margin-top: 90px;
  margin-bottom: 90px;
}

/* FOR STUDENTS */

.for-students {
  width: 900px;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /*background-color: yellow;*/
}

.for-students img {
  width: 300px;
  padding-left: 40px;
}

.for-students .right {
  margin-top: 42px;
}

.for-students p {
  width: 100%;
  text-align: left;
}

.for-students h3 {
  width: 80%;
  margin-bottom: 20px;
}

h4 {
  font-family: "Soleil Semibold";
  color: #92AAFF;
  font-size: 25px;
  margin-bottom: 7px;
  text-align: left;
}

h5 {
  font-family: "Soleil Semibold";
  color: #2454FF;
  font-size: 25px;
  margin-bottom: 7px;
  text-align: left;
}


/* FOR EDUCATORS */

.for-educators {
  width: 900px;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /*background-color: yellow;*/
}

.for-educators img {
  width: 300px;
  padding-left: 40px;
  margin-top: 20px;
}

.for-educators .right {
  margin-top: 42px;
}

.for-educators p {
  width: 100%;
  text-align: left;
}

.for-educators h3 {
  width: 80%;
  margin-bottom: 20px;
}


/* BEGIN YOUR JOURNEY */

.begin {
  display: block;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.begin h3 {
  text-align: center;
}

.begin p {
  padding-top: 20px;
  margin: auto;
  width: 500px;
}

.begin img {
  width: 400px;
  display: block;
  margin: 0 auto;
  margin-bottom: 4px;
}

#explore-curriculum {
  font-family: "Soleil Semibold";
  font-size: 18px;
	text-decoration: none;
	color: #0995E3;
  border: 3px solid #0995E3;
	background-color: #fff;
	padding: 13px 20px 10px 20px;
	border-radius: 7px;
	display: inline-block;
	transition: background-color 0.15s ease-in;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 1080px) {

  .explore-coding {
    width: 500px;
    display: block;
    text-align: center;
  }

  h3 {
    text-align: left;
  }

  .explore-coding p {
    width: 100%;
  }

  p {
    text-align: left;
    width: 100%;
  }

  .explore-coding img {
    margin-top: 40px;
    width: 300px;
  }

  .for-students h3 {
    width: 100%;
  }

  .for-students {
    width: 500px;
    display: block;
    text-align: left;
  }

  .for-students img {
    margin-top: 20px;
    width: 300px;
    padding: 0px;
  }

  .for-educators h3 {
    width: 100%;
  }

  .for-educators {
    width: 500px;
    display: block;
    text-align: left;
  }

  .for-educators img {
    margin-top: 20px;
    width: 300px;
    padding: 0px;
  }
  .begin p {
    text-align: center;
  }

}

@media only screen and (max-width: 768px) {

  .landing {
    background-image: url("img/home/mobile-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    top: 0px;
  }

  .landing img {
    width: 400px;
  }

  li a {
    font-size: .95rem;
    padding: 20px 10px;
  }

  h2 {
    font-size: 1.2rem;
    margin-top: 50px;
    width: 350px;
  }


}

@media only screen and (max-width: 660px) {

  .landing img {
    margin-top: -30px;
    width: 70%;
  }

  #title-image {
    width: 90%;
  }

  .gray-separator {
    height: 5px;
    background-color: #F3F3F3;
    width: 100vw;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 20px;
    line-height: 25px;
    margin-top: 50px;
    width: 300px;
    margin-bottom: -75px;
  }

  .explore-coding {
    width: 70%;
    display: block;
    text-align: center;
    margin-top: 15%;
  }

  h3 {
    text-align: left;
    width: 100%;
  }

  p {
    text-align: left;
    width: 100%;
  }

  .explore-coding img {
    margin-top: 40px;
    width: 280px;
  }

  .for-students {
    width: 70%;
    display: block;
    text-align: left;
  }

  .for-students img {
    margin-top: 20px;
    width: 280px;
    padding: 0px;
  }

  .for-educators {
    width: 70%;
    display: block;
    text-align: left;
  }

  .for-educators img {
    margin-top: 20px;
    width: 280px;
    padding: 0px;
  }

  .begin {
    margin-top: 90px;
  }

  .begin p {
    text-align: center;
    width: 70%;
  }

}

@media only screen and (max-width: 400px) {

  .landing img {
    margin-top: -30px;
    width: 70%;
  }
  .landing{
    margin-top: 00px;
  }

  .gray-separator {
    height: 5px;
    background-color: #F3F3F3;
    width: 100vw;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 16px;
    line-height: 22px;
    margin-top: 30px;
    width: 250px;
    margin-bottom: -75px;
  }

  .explore-coding {
    width: 70%;
    display: block;
    text-align: center;
    margin-top: 15%;
  }

  .for-educators .for-students h3 {
    text-align: left;
    width: 100%;
  }

  p {
    text-align: left;
    width: 100%;
  }

  .explore-coding img {
    margin-top: 40px;
    width: 90%;
  }

  .for-students {
    width: 70%;
    display: block;
    text-align: left;
  }

  .for-students img {
    margin-top: 20px;
    width: 90%;
    padding: 0px;
  }

  .for-educators {
    width: 70%;
    display: block;
    text-align: left;
  }

  .for-educators img {
    margin-top: 20px;
    width: 90%;
    padding: 0px;
  }

  .begin {
    margin-top: 90px;
    display: block;
    width: 70%;
    text-align: center;
  }

  .begin h3 {
    width: 100%;
    text-align: center;
  }

  .begin p {
    text-align: center;
    width: 100%;
  }

  .begin img {
    width: 80%;
  }

  #title-image {
    width: 90%;
  }

}

@media only screen and (min-width: 700px) {
  .explore-coding img:hover {
    transform: rotate(10deg) scale(1.1);
    transition: 0.3s ease;
  }
  #explore-curriculum:hover{
    background-color: #0995E3;
    color: #fff;
  }
  .for-educators img:hover {
    transform: scale(1.08);
    transition: 0.3s ease;
  }
  .for-students img:hover {
    transform: scale(1.08);
    transition: 0.3s ease;
  }

}
